{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb-base",
        "plugin:react/recommended",
        "next",
        "next/core-web-vitals"
    ],
    "rules": {
        "indent": [1, 4],
        "comma-dangle": [1, "never"],
    }
}