{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb-base",
        "plugin:react/recommended",
        "next",
        "next/core-web-vitals"
    ],
    "rules": {
        "class-methods-use-this": [0],
        "comma-dangle": [1, "never"],
        "indent": [1, 4]
    }
}